$primary: #039be5;
$blue: #039be5;
$red: #f44336;
$green: #4caf50;
$yellow: #e6e600;
$dark: #666666;
$line: #cccccc;
$s: #ff7f7f;
$a: #ffbf7f;
$b: #ffdf7f;
$c: #ffff7f;
$d: #bfff7f;
$e: #7fff7f;
$body: #f2f2f2;
//body
body {
  background-color: $body;
}