$primary: #039be5;
$blue: #039be5;
$red: #f44336;
$green: #4caf50;
$yellow: #e6e600;
$dark: #666666;
$line: #cccccc;
$s: #ff7f7f;
$a: #ffbf7f;
$b: #ffdf7f;
$c: #ffff7f;
$d: #bfff7f;
$e: #7fff7f;
$body: #f2f2f2;
//body
body {
  background-color: $body;
}
.version{
  color: #777777;
  margin-bottom: 3rem;
  font-size: 2rem;
}
@media only screen and (min-width: 993px) {
  .container {
    min-width: 1280px;
  }
}
label {
  color: $dark;
}
//nav
#mnav {
  width: 200px !important;
}
nav {
  margin-bottom: 4rem;
  height: 52px;
  line-height: 52px;
  background-color: $primary;
  .brand-logo {
    position: relative;
    left: 5rem;
    position: relative;
    background-color: $dark;
    color: white;
    text-align: center;
    text-transform: uppercase;
    width: 180px;
    height: 100px;
    padding-top: 5px;
    img {
      height: 60px;
    }
    &::after {
      content: " ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border-bottom: 30px solid $body;
      border-left: 90px solid transparent;
      border-right: 90px solid transparent;
    }
  }
  ul {
    li {
      i.left {
        height: 52px;
        line-height: 52px;
      }
      @media only screen and (max-width: 600px) {
        i.left {
          height: auto !important;
          line-height: inherit !important;
        }
      }
      // &.active {
      //   position: relative;
      //   background-color: $red;
      //   color: white;
      //   text-align: center;
      //   text-transform: uppercase;
      //   width: 200px;
      //   height: 60px;
      //   &::after {
      //     content: " ";
      //     position: absolute;
      //     left: 0;
      //     bottom: 0;
      //     width: 0;
      //     height: 0;
      //     border-bottom: 10px solid $body;
      //     border-left: 100px solid transparent;
      //     border-right: 100px solid transparent;
      //   }
      //   a {
      //     padding-top: 0;
      //     font-size: 18px !important;
      //     &:hover {
      //       background-color: $red;
      //     }
      //   }
      //   i {
      //     font-size: 30px;
      //     &.left {
      //       margin-right: 10px;
      //     }
      //   }
      // }
      a {
        font-size: 16px;
        padding: 0 30px;
        text-transform: uppercase;
      }
    }
  }
}
.top-col {
  min-height: 60px !important;
}
.top-col-search {
  margin-top: 14px !important;
}
h2.title {
  font-size: 24px;
  font-weight: 600;
  margin-top: 5px;
  color: $dark;
}
h3.title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 5px;
}
@media only screen and (min-width: 600px) {
  .line-left {
    border-left: solid 1px $line;
  }
  .line-right {
    border-right: solid 1px $line;
  }
  .line-bottom {
    border-bottom: solid 1px $line;
    margin-bottom: 20px;
  }
  .line-top {
    border-top: solid 1px $line;
  }
}
.no-padding {
  padding: 0;
}
.input-field.search-champions {
  margin-top: -12px;
}
.text-up-rank {
  background-color: $green;
  color: black;
  font-size: 13px;
  margin: 5px;
  padding: 4px 6px 6px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.text-down-rank {
  background-color: $red;
  color: white;
  font-size: 13px;
  margin: 5px;
  padding: 4px 6px 6px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
}
.champions-chip {
  // width: 170px;
  float: left;
  padding: 10px;
  .chip {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    // width: 150px;
    margin-top: 5px;
    &.up {
      background-color: $green;
      color: black;
    }
    &.down {
      background-color: $red;
      color: white;
    }
    img {
      position: relative;
      top: -5px;
      width: 44px;
      height: 44px;
      transition: all 0.3s ease-in-out;
    }
    .name {
      text-transform: capitalize;
    }
    &:hover {
      box-shadow: 2px 2px 2px $dark;
      text-shadow: 1px 0 $dark;
      img {
        position: relative;
        top: -8px;
        width: 50px;
        height: 50px;
      }
    }
  }
  &[show-hide="0"] {
    opacity: 0.2;
    pointer-events: none;
  }
}
.items-chip {
  float: left;
  padding: 10px;
  &.disabled {
    opacity: 0.2;
    pointer-events: none;
  }
  .chip {
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 5px;
    img {
      position: relative;
      top: -5px;
      width: 44px;
      height: 44px;
      transition: all 0.3s ease-in-out;
    }
    .name {
      text-transform: capitalize;
    }
    &.up {
      background-color: $green;
      color: black;
    }
    &.down {
      background-color: $red;
      color: white;
    }
    &:hover {
      box-shadow: 2px 2px 2px $dark;
      text-shadow: 1px 0 $dark;
      img {
        position: relative;
        top: -8px;
        width: 50px;
        height: 50px;
      }
    }
  }
}
.row-rank {
  border: dashed 1px $dark;
}
.column-rank {
  width: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  &.s {
    background-color: $s;
    text-transform: uppercase;
  }
  &.a {
    background-color: $a;
    text-transform: uppercase;
  }
  &.b {
    background-color: $b;
    text-transform: uppercase;
  }
  &.c {
    background-color: $c;
    text-transform: uppercase;
  }
  &.d {
    background-color: $d;
    text-transform: uppercase;
  }
  &.e {
    background-color: $e;
    text-transform: uppercase;
  }
}
.collapsible.filter {
  .collapsible-header {
    span {
      font-size: 20px;
      font-weight: 600;
    }
    i {
      position: relative;
      top: 4px;
    }
  }
  .collapsible-body {
    padding: 6px 2rem;
  }
  li {
    label {
      span {
        width: 100%;
        font-size: 18px;
        padding-left: 0;
        img {
          width: 24px;
          height: 24px;
          float: left;
          margin-right: 15px;
        }
        &:hover {
          font-weight: 600;
        }
        &::before {
          right: 0;
          left: auto;
        }
      }
      padding-bottom: 10px;
      [type="checkbox"]:checked + span:not(.lever):before {
        left: auto;
        right: 10px;
      }
    }
    &:last-child {
      margin-bottom: 30px;
    }
  }
}
.collapsible.items {
  .collapsible-header {
    span {
      font-size: 20px;
      font-weight: 600;
    }
    i {
      position: relative;
      top: 4px;
    }
  }
  .item {
    display: inline-block;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding: 0;
    border: solid 3px $body;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
    margin-right: 6px;
    img {
      width: 45px;
      height: 45px;
    }
    &:hover {
      border-color: $primary;
    }
  }
}
.modal-list-combined {
  .item {
    display: inline-block;
    border-radius: 10px;
    width: 45px;
    height: 45px;
    padding: 0;
    border: solid 3px $body;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    margin-right: 6px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 6px;
    }
    &:hover {
      border-color: $primary;
    }
  }
  .info {
    color: $dark;
    position: relative;
    top: -13px;
    font-size: 18px;
  }
  @media only screen and (max-width: 599px) {
    .item {
      float: right;
      img {
        position: relative;
        top: 2px;
      }
    }
    .info {
      top: 0;
      font-size: 16px;
    }
  }
  .modal-column-rank {
    width: 90px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    &[data-rank="s"] {
      background-color: $s;
    }
    &[data-rank="a"] {
      background-color: $a;
    }
    &[data-rank="b"] {
      background-color: $b;
    }
    &[data-rank="c"] {
      background-color: $c;
    }
    &[data-rank="d"] {
      background-color: $d;
    }
    &[data-rank="e"] {
      background-color: $e;
    }
  }
}
.modal.bottom-sheet {
  max-height: 85%;
}
.modal {
  table {
    tr {
      td {
        padding: 3px !important;
      }
    }
  }
}
.mobile-close-modal {
  margin-bottom: 2rem;
}
@media only screen and (min-width: 600px) {
  .sidenav {
    width: 70%;
    &[data-updown="up"] {
      box-shadow: inset 5px 0 15px $green;
    }
    &[data-updown="down"] {
      box-shadow: inset 5px 0 15px $red;
    }
  }
}
@media only screen and (max-width: 599px) {
  .sidenav {
    width: 100%;
    &[data-updown="up"] {
      box-shadow: inset 0 15px 25px $green;
    }
    &[data-updown="down"] {
      box-shadow: inset 0 15px 25px $red;
    }
  }
}
ul#profile {
  @media only screen and (min-width: 600px) {
    .close-mobile {
      display: none;
    }
  }
  @media only screen and (max-width: 599px) {
    .close-mobile {
      display: inline-block;
      margin-top: 2rem;
    }
  }
  .rank {
    position: absolute;
    top: 20px;
    left: 20px;
    a {
      font-size: 30px;
    }
    &[data-rank="s"] {
      a {
        background-color: $s;
      }
    }
    &[data-rank="a"] {
      a {
        background-color: $a;
      }
    }
    &[data-rank="b"] {
      a {
        background-color: $b;
      }
    }
    &[data-rank="c"] {
      a {
        background-color: $c;
      }
    }
    &[data-rank="d"] {
      a {
        background-color: $d;
      }
    }
    &[data-rank="e"] {
      a {
        background-color: $e;
      }
    }
  }
  li {
    line-height: 1.5rem;
    padding-top: 20px;
    .avatar {
      border-radius: 100%;
      width: 120px;
      height: 120px;
      margin-top: 15px;
    }
    h2 {
      font-size: 2rem;
      margin-top: 10px;
      margin-bottom: 30px;
      text-transform: capitalize;
    }
    h5 {
      margin-top: 0;
      font-size: 1.5rem;
    }
    .stats {
      margin-top: -25px;
      .collection {
        border: none;
        li {
          font-size: 18px;
        }
      }
    }
    .card-panel {
      margin-top: 15px;
      .valign-wrapper {
        .responsive-img {
          width: 64px;
        }
      }
    }
  }
}
.mana-text {
  position: relative;
  top: -5px;
  font-size: 16px;
  font-weight: 600;
}
.margin-bottom {
  margin-bottom: 20px;
}
.margin-top {
  margin-top: 20px;
}
.progress.health {
  background-color: #ffcccc;
  .determinate {
    background-color: $red;
  }
}
.progress.mana {
  background-color: #b3d9ff;
  .determinate {
    background-color: $primary;
  }
}
.progress.cost {
  background-color: #ffffb3;
  .determinate {
    background-color: $yellow;
  }
}
.text-up {
  text-transform: uppercase;
}
.text-cap {
  text-transform: capitalize;
}
.text-low {
  text-transform: lowercase;
}
.padding-table-champions {
  padding: 3rem 2rem !important;
}
.champions-origin-class {
  text-align: center;
  h4 {
    margin: 20px 0 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .carousel {
    margin: -8rem 0 -5rem;
    .carousel-item {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      cursor: pointer;
      opacity: 0.3 !important;
      transition: all 0.1s ease-in-out;
      img {
        border-radius: 10px;
      }
      &.active {
        opacity: 1 !important;
      }
    }
  }
}
[type="checkbox"] + span:not(.lever):before,
[type="checkbox"]:not(.filled-in) + span:not(.lever):after {
  border-width: 1px;
}
#profile_skill_img {
  float: right;
  margin: 0 0 0 5px;
}
#profile_skill_info {
  clear: both;
}
.champion-item-column {
  margin-top: 20px;
  img {
    margin-bottom: 10px;
    border-radius: 6px;
  }
}
#modal_combined_item {
  &[data-updown="up"] {
    box-shadow: inset 0 0 15px $green;
  }
  &[data-updown="down"] {
    box-shadow: inset 0 0 15px $red;
  }
}
#item_img,
#item_img_combined {
  width: 50px;
  height: 50px;
  position: relative;
  top: 12px;
  left: -20px;
  border-radius: 6px;
}
#item_name,
#item_name_combined {
  display: inline;
  text-transform: capitalize;
}
a.item.combined img {
  border-radius: 6px;
}
.container-list-teams {
  text-align: center;
}
#teams_list {
  display: inline-block;
  @media only screen and (min-width: 800px) {
    min-width: 80%;
    max-width: 1280px;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
    li {
      .col-champions {
        .c {
          .avatar {
            height: 3rem !important;
            width: 3rem !important;
          }
        }
      }
    }
  }
  li {
    &.active {
      border: dashed 2px $primary;
    }
    margin-bottom: 5rem;
    .collapsible-header {
      float: none;
      display: inline-block;
    }
    .col-champions {
      text-align: center;
      position: relative;
      padding-left: 3rem;
      .badge-rank {
        font-size: 30px;
        text-transform: uppercase;
        font-weight: 400;
        position: absolute;
        left: -30px;
        top: -20px;
        &.s {
          background-color: $s;
          text-transform: uppercase;
        }
        &.a {
          background-color: $a;
          text-transform: uppercase;
        }
        &.b {
          background-color: $b;
          text-transform: uppercase;
        }
        &.c {
          background-color: $c;
          text-transform: uppercase;
        }
        &.d {
          background-color: $d;
          text-transform: uppercase;
        }
        &.e {
          background-color: $e;
          text-transform: uppercase;
        }
      }
      .c {
        .avatar {
          width: 56px;
          height: 56px;
          border-radius: 6px;
          margin-right: 10px;
          position: relative;
          top: -20px;
        }
      }
    }
    .collapsible-body {
      padding: 1rem 0.5rem;
      td {
        padding: 5px;
      }
      h2 {
        margin: 0 0 20px;
        font-size: 1.5rem;
        color: $red;
        opacity: 0.7;
        text-transform: capitalize;
      }
      h5 {
        color: $dark;
        font-size: 16px;
        margin: 5px 0 0;
        font-weight: 600;
        text-transform: capitalize;
      }
      @media only screen and (max-width: 600px) {
        .i {
          img {
            width: 32px !important;
            height: 32px !important;
          }
        }
      }
      .c {
        .avatar {
          width: 50px;
          height: 50px;
          border-radius: 6px;
        }
      }
      .i {
        img {
          width: 40px;
          height: 40px;
          border-radius: 6px;
        }
      }
    }
  }
}
